body {
    background-color: white;
    text-align: center;
}


.input-container {
  position: relative;
  width: 200px;
}

.inputText {
  font-size: 14px;
  width: 150%;
  margin: 10%;
  border: none;
  border-bottom: 2px solid gray;
  outline: none;
}

.inputText:hover {
    border-bottom: 2px solid red;
}


.floating-label {
  position: absolute;
  pointer-events: none;
  left: 0;
  padding: 25px;
  bottom: 10px;
  transition: 0.2s ease all;
  color: gray;
  font-size: 17px;
}

.floating-label:hover {
    font-size: 15px;
}


.inputText:focus ~ .floating-label,
.inputText:not(:focus):valid ~ .floating-label {
  bottom: 30px;
  font-size: 11px;
  opacity: 1;
}

.btn {
  display: inline-block;
  width: 90%;
  height: 50px;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  background-image: linear-gradient(90deg, orange, #00abff);
  color: white;
  
}

a {
    color: black;
    text-decoration: none;
}

p {
    color: gray;
}
